# Dart/Pub/Flutter related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication/obfuscation
app.*.symbols
app.*.map.json

# Android-specific
/android/app/debug
/android/app/profile
/android/app/release

# iOS/macOS-specific
.DS_Store

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Misc
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment files
.env
